/**
 *------------------------------------------------------------------------------
 *
 *  Modify Colors
 *
 */

// PIVX Brand Colors
@include token-set(colors pivx, (
    300: #625381,
    400: #5c4c7c,
    500: #584977
));

// MUE Brand Colors
@include token-set(colors mue, (
    300: #fe9921,
    400: #fe9518,
    500: #f48f17
));

// Add PIVX To Brand Color list
@include token-set(colors brand, append(token-get(colors brand), 'mue'));

// Cryptocurrency Color List
@include token-set(colors cryptocurrency, (
    adx: #1676BB,
    adt: #3250A7,
    aeon: #5FBCD3,
    ant: #2ABFE2,
    ark: #f1373a,
    rep: #612A52,
    bnt: #0D112D,
    bat: #ff5000,
    bay: #2DA1E0,
    btc: #F7931A,
    bch: #F7931A,
    bts: #44B7E3,
    blk: #DCB850,
    bcn: #D43474,
    link: #01A6FB,
    time: #4B8AB7,
    cvc: #3BAF29,
    cloak: #E72E00,
    cfi: #0199E5,
    xcp: #EC1550,
    dash: #008de4,
    dct: #009171,
    dcr: #2772FF,
    dent: #ad060f,
    dgb: #0871C2,
    xdn: #4f7ba2,
    dgd: #353535,
    dnt: #2F3A8C,
    doge: #C2A633,
    edg: #32325D,
    elastic: #343433,
    eos: #000000,
    eth: #151515,
    etc: #0C8412,
    fct: #136DC3,
    ftc: #231F20,
    1st: #c42026,
    game: #98C01F,
    gno: #00A6C4,
    gnt: #000000,
    hmq: #234D95,
    icn: #4C6F8C,
    iota: #000000,
    ioc: #35A3DA,
    kmd: #306565,
    lsk: #13275F,
    ltc: #3D3E3C,
    lkk: #F8003A,
    maid: #29578A,
    gup: #35A2BC,
    mtl: #000000,
    etp: #E41D22,
    mco: #F67F5F,
    nav: #C32AB6,
    nebl: #34ACE3,
    nem: #05CCBB,
    nxs: #57ABDF,
    nmr: #5ACADF,
    nxt: #00A0C6,
    ok: #1D6BB1,
    omg: #1A53F0,
    omni: #18347E,
    zrx: #454545,
    prt: #03E8B0,
    ptoy: #DA0028,
    pivx: #3B2F4D,
    rdd: #FF1A00,
    xrp: #017CB5,
    rise: #E43B53,
    safex: #0097BE,
    shift: #2F566F,
    sc: #00DEA9,
    sngls: #D40D2F,
    smart: #F4B517,
    snm: #0B1D28,
    snt: #505DB7,
    steem: #4BA2F2,
    stellar: #08B5E5,
    storj: #1C7FFF,
    stx: #3E0CA3,
    strat: #1C88C9,
    unity: #FF6600,
    swt: #EFD96F,
    amp: #140518,
    sys: #058FD0,
    pay: #222222,
    usdt: #26A17B,
    tkn: #16204A,
    ubq: #00EA90,
    xvg: #00CBFF,
    ven: #09122D,
    vtc: #1B5C2E,
    vox: #01548F,
    wgr: #E50000,
    waves: #164DFB,
    wings: #5AB9E1,
    zen: #DF7B00,
    zec: #D39035,
    xzc: #29B857,
    xel: #22B24C,
    fun: #EE0267,
    xlm: #08B5E5,
    xmr: #F26822,
    xrb: #fff
));
